# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Pytest cache
.pytest_cache/

# VS Code
.vscode/

# Logs
*.log

narde_state.db

__pycache__/
*.pyc
.venv/
.env
.devcontainer/
secrets.json
